{% load i18n %}
<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand logo-padding" href="{% url 'index' %}"><img src="{{ STATIC_URL }}img/logo/logo_small.png" height="35px" width="auto"></a>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li {% if request.resolver_match.url_name == 'projects_list' %}class="active"{% endif %}><a href="{% url 'projects_list' %}"><span class="glyphicon glyphicon-home"></span></a></li>

        <li class="dropdown {% if request.resolver_match.url_name in "project,user_stories,gantt_diagram,niko_calendar,admin_project,sprints,project_discussions" %}active{% endif %}">

        {% if project %}
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ project.name|truncatechars:20 }}<span class="caret"></span></a>

        {% else %}
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans 'Projects' %}<span class="caret"></span></a>
        {% endif %}
          <ul class="dropdown-menu" role="menu">
            {% for proj in user.projects %}
            <li><a href="{% url 'project' proj_id=proj.id %}">{{ proj.name|truncatechars:20 }}</a></li>
            {% endfor %}
          </ul>
         </li>
        {% if sprint %}
          <li {% if request.resolver_match.url_name in "sprint_overview,tasks,sprint_discussions" %}class="active"{% endif %}><a href="{% url 'sprint_overview' proj_id=project.id spr_id=sprint.id %}">{{ sprint.name|truncatechars:20 }}</a></li>
        {% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li {% if request.resolver_match.url_name == "calendar" %}class="active"{% endif %}><a href="{% url 'calendar' %}"><span class="glyphicon glyphicon-calendar"></span> </a></li>
        <li><a href="#">{{ user.name }}</a></li>
        <li class="login-navbar-padding">
          <div><a id="login_button" href="{% url 'logout' %}" class="btn btn-default">{% trans "Logout" %}</a></div>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
