<div class="panel panel-default">
    <div class="panel-heading "><h1 class="panel-title text-center">Login</h1></div>
    <div class="panel-body">
        {% if error %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endif %}
        <form role="form" action="/login/" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" name="email" class="input-lg" placeholder="Email" />
            </div>
            <div class="form-group">
                <input type="password" name="password" class="input-lg" placeholder="Password" />
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="remember" > Remember me on this computer.
                </label>
            </div>
            <button type="submit" class="btn btn-default center-block">Submit</button>
        </form>
    </div>
</div>
