{% load i18n %}

<div class="col-xs-4">
  <div class="well">
    <h3>{{ project.name }}</h3>
{#  % completed #}
{#  participants #}
  <p>{% trans 'Participants' %}: {{ project.num_participants }}</p>
  <p>{% trans 'Tasks' %}: {{ project.num_tasks }}</p>
  <p>{% trans 'Completed tasks' %}: {{ project.num_completed_tasks }}</p>
  <p>{% trans 'Discussions' %}: {{ project.num_discussions }}</p>
  <a class="btn btn-info" href="{% url 'project' project.id  %}">{% trans "View Project" %}</a>
  </div>
</div>