{% extends "templates/bee/layouts/__base_bootstrap.html" %}
{% load i18n %}

{% block title %}HBH Projects{% endblock %}

{% block styles %}
{% endblock %}

{% block scripts %}

{% endblock %}


{% block content %}
  <div class="row">
    <div class="col-xs-9">
      <div class="well page-header">
        <h1>{% trans "Your projects" %}<small><!--Subtext for header--></small></h1>
      </div>
    </div>
    <div class="col-xs-3">
      {% if projects %}
        <a href="{% url 'create_project' %}" class="btn btn-default">{% trans "Create new project" %}</a>
      {% endif %}
    </div>
  </div>

  <div class="row">
    {% if projects %}
      {% for project in projects %}
        {% include "templates/bee/scrum_projects/_project_box.html" %}
      {% endfor %}
    {% else %}
      <div class="col-xs-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">{% trans "You can create your own projects." %}</h3>
          </div>
          <div class="panel-body">
            <a href="{% url 'create_project' %}" class="btn btn-lg btn-default">{% trans "Create new project" %}</a>
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">{% trans "Ask your friends to be invited in their projects!" %}</h3>
          </div>
          <div class="panel-body">
             asf
          </div>
        </div>
      </div>

    {% endif %}
  </div>
  <div class="row"></div>
{% endblock %}
