{% extends "bee/layouts/__base_with_left_menu.html" %}
{% load i18n %}
{% load permissions %}
{% block styles %}

{% endblock %}

{% block scripts %}

  <script type="text/javascript" src="{{ STATIC_URL }}js/bee/project_sprints.js"></script>

  <script type="text/javascript">
    $(document).ready(function(){
      {% if user|can_write:project.id %}
      $("#create_sprint").colorbox({innerHeight:300, scrolling:false});
      {% endif %}
      var callview= new ProjectSprints.SprintsCallView({el:"#sprints"});
      callview.load({'project': {{ project.id }} });
    });
  </script>
{% endblock %}

{% block right_content %}
  <script id="sprint-overview-template" type="text/template">
  <div class="col-xs-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= name %></h3>
      </div>
      <div class="panel-body">
        <p><%=start_date_f %> - <%= end_date_f %></p>
        <p>{% trans 'Tasks' %}: <%= num_tasks %></p>
        <p>{% trans 'Completed tasks' %}: <%= num_tasks_completed%> </p>
        <p>{% trans 'Discussions' %}: <%= num_discussions %> </p>
        <a class="btn btn-info" href="/project/{{ project.id }}/sprints/<%=id%>/">{% trans 'View Sprint' %}</a>
      </div>
    </div>
  </div>

  </script>

  <script id="no-sprints-in-project" type="text/template">
    <div>
      {% trans "There are no Sprints in this project," %} {% if user|can_write:project.id %}<a id="create_sprint-link" href="{% url 'create_sprint_colorbox' proj_id=project.id %}">{% trans "create a new Sprint." %}</a>{% endif %}
    </div>
  </script>

  <div class="well page-header">
    <h1>{{ project.name }} <small>{% trans 'Sprints' %}</small>{% if user|can_write:project.id %}<a id="create_sprint" href="{% url 'create_sprint_colorbox' proj_id=project.id %}" class="btn btn-default pull-right">{% trans "New Sprint" %}</a>{% endif %}</h1>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div clas="row"  id="sprints">

      </div>
    </div>
  </div>

{% endblock %}
