{% extends "bee/layouts/__base_with_left_menu_sprints.html" %}
{% load i18n %}
{% load permissions %}

{% block title %}HoneyBeeHive{% endblock %}

{% block styles %}

{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/bee/sprint_tasks.js"></script>

  <script type="text/javascript">
    $(document).ready(function(){
     {% if user|can_write:project.id %}
       $("#create_task").colorbox({innerHeight:680,scrolling:false});
     {% endif %}

      var callview= new SprintTasks.TasksCallView({el:"#tasks"});
      callview.load({'sprint':"{{ sprint.id }}" });
    });
  </script>
{% endblock %}


{% block right_content %}
  <script id="task-overview-template" type="text/template">
    <div class="task-row task-row-<%=id%>" style="margin-bottom: 5px;">
      <div class="row" style="border: 1px solid;border-radius: 10px; padding:5px;">
        <div class="col-xs-2"><%=name%></div>
        <div class="col-xs-2"><%=pred_start_date%> <%=pred_end_date%></div>
        <div class="col-xs-2"><%=username%></div>
        <div class="col-xs-2">
          <% if (status==4){ %>
            <%=time_worked%>
          <%}%>
          <%=time_prevision%>
        </div>
        <div class="col-xs-4">
          <div class="btn-group">
            <a type="button" href="/project/{{ project.id }}/sprint/{{ sprint.id }}/task/<%=id%>/issues/" class="btn btn-default task-issue-link" title="{% trans 'issues' %}"><span class="glyphicon glyphicon-warning-sign"></span> </a>
            <a type="button" href="/project/{{ project.id }}/sprints/{{ sprint.id }}/task/<%=id%>/discussions/" class="btn btn-default" title="{% trans 'discussions' %}"><span class="glyphicon glyphicon-comment"></span> </a>
            <button type="button" class="btn btn-default" title="{% trans 'description' %}" onclick="console.info('toggle');$('.task-row-description-<%=id%>').toggle('slow');"><span class="glyphicon glyphicon-list-alt"></span> </button>
            <% if (status == 1 ) { %>
            <a type="button" href="/project/{{ project.id }}/sprints/{{ sprint.id }}/task/<%=id%>/start_working/" class="btn btn-default" title="{% trans 'Start' %}"><span class="glyphicon glyphicon-play"></span> </a>

            <% }else if (status == 2 ) { %>
            <a type="button" href="/project/{{ project.id }}/sprints/{{ sprint.id }}/task/<%=id%>/pause/" class="btn btn-default" title="{% trans 'Pause' %}"><span class="glyphicon glyphicon-pause"></span> </a>
            <a type="button" href="/project/{{ project.id }}/sprints/{{ sprint.id }}/task/<%=id%>/complete/" class="btn btn-default" title="{% trans 'Complete' %}"><span class="glyphicon glyphicon-ok-sign"></span> </a>

            <% }else if (status == 3 ) { %>
            <a type="button" href="/project/{{ project.id }}/sprints/{{ sprint.id }}/task/<%=id%>/start_working/" class="btn btn-default" title="{% trans 'Start' %}"><span class="glyphicon glyphicon-play"></span> </a>
            <a type="button" href="/project/{{ project.id }}/sprints/{{ sprint.id }}/task/<%=id%>/complete/" class="btn btn-default" title="{% trans 'Complete' %}"><span class="glyphicon glyphicon-ok-sign"></span> </a>

            <% }else if (status == 4 ) { %>
            <button type="button" class="btn btn-light" title="{% trans 'Completed' %}"><span class="glyphicon glyphicon-thumbs-up"></span> </button>
            <% } %>
            <% if (typeof(date) != "undefined") { %>
    <span class="date"><%= date %></span>
<% } %>


{#            <button type="button" class="btn btn-default" title="{% trans 'start work' %}"><span class="glyphicon glyphicon-time"></span></button>#}
          </div>
        </div>
      </div>
      <div class="row well task-row-description-<%=id%>" style="display: none;">
          <div class="col-xs-12">
            <%=description%>
          </div>
        </div>
    </div>

  </script>

  <script id="no-tasks-in-sprint" type="text/template">
    <div>
      {% trans "There are no Tasks in this sprint." %} {% if user|can_write:project.id %}<a id="create-task-link" class="create-task-link" href="{% url 'create_task_colorbox' proj_id=project.id spr_id=sprint.id %}">{% trans "Create a new Task." %}</a>{% endif %}
    </div>
  </script>


  <div class="well page-header">
    <h1>{{ sprint.name }} <small>{% trans 'Sprint tasks' %}</small>{% if user|can_write:project.id %}<a id="create_task" href="{% url 'create_task_colorbox' proj_id=project.id spr_id=sprint.id %}" class="btn btn-default pull-right">{% trans "New Task" %}</a>{% endif %}</h1>
    <script type="text/javascript">console.info('error-{{ request.GET.error }}');</script>
    <p>{{ sprint.start_date|date:"SHORT_DATE_FORMAT" }} - {{ sprint.end_date|date:"SHORT_DATE_FORMAT" }}</p>
  </div>
  <div class="row">
    <div id="tasks" class="col-xs-12"></div>

  </div>
{% endblock %}
