{% extends "bee/layouts/__base_with_left_menu_sprints.html" %}
{% load i18n %}
{% load permissions %}

{% block title %}HoneyBeeHive{% endblock %}

{% block styles %}

{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/bee/sprint_tasks.js"></script>

  <script type="text/javascript">
    $(document).ready(function(){
      $("#create_task").colorbox({innerHeight:600,scrolling:false});

      //var callview= new SprintTasks.TasksCallView({el:"#tasks"});
      //callview.load({'project': {{ project.id }}, 'sprint':"{{ sprint.id }}" });
    });
  </script>
{% endblock %}


{% block right_content %}
  <div class="well page-header">
    <h1>{{ sprint.name }} <small>{% trans 'Sprint tasks' %}</small>{% if user|can_write:project.id %}<a id="create_task" href="{% url 'create_task_colorbox' proj_id=project.id spr_id=sprint.id %}" class="btn btn-default pull-right">{% trans "New Task" %}</a>{% endif %}</h1>

    <p>{{ sprint.start_date|date:"d/m/y" }} - {{ sprint.end_date|date:"d/m/y" }}</p>
  </div>
  <div class="row">
    <div id="tasks" class="col-xs-12"></div>

  </div>
{% endblock %}
