.create-project-span{
  width: 160px;
}
.create-project-submit{
  margin-top: 60px;
}
.left-menu{
  margin-top: 120px;
}

.form-group .input-group label.user-story{
  min-width: 150px; font-weight: bold;
}